.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 44.4rem;
  justify-content: flex-end; /*main*/
  align-items: center;/*cross*/

}

.container>* {
  margin: 0.5rem;
  border: 0.12rem solid black;
  max-width: 350px ;
}

.card div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.1rem;
}

.card button {
  background-color:#00009C;
  color:#FFFFFF;
  border-radius: 1rem;
  border: 2px solid blue;
}
.card button:hover {
  background-color:#002a9cd2;
}

.ul li{
  border-bottom: 0.05rem solid blue;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

