.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background: linear-gradient(150deg, #29041d, #0c0616);
    
    
  }
  .container div button{
    background-color:#007FFF;
    border-radius: 1rem;
    margin: 0rem 0.27rem;
    border: 2px solid blue;
  }
  .container div button:hover{
    background-color:#A62A2A;
    cursor: pointer;
  }

  .img {
    margin: 0rem 0.27rem;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
  }
  