
.sidebar {
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;
    border-right: 7px dotted rgba(150, 150, 150, 0.986);
    background-color: rgba(155, 153, 185, 0.5);
    
  }